body{
  display: flex;
  align-items: center; 
  justify-content: center;
  background-color: rgb(175, 175, 175);
}

#corpo{
  margin-top: 35px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  width: 250px ;
  height: 450px;
  background-color: rgb(49, 83, 17);
  border-radius: 15px;
  box-shadow: 2px 3px 7px rgb(40, 61, 20);
}

#visor{
  margin-top: 35px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  background-color: rgba(186, 221, 157, 0.9);
  border-radius: 120px;
  width: 130px;
  height: 130px;
  color: rgb(62, 100, 58);
  font-size: 50px;
  margin-bottom: 85px;
  text-align: center;
}

.input {
  display: flex;
  justify-content: center;
  flex-direction: column;

}

.botoes {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 10px;
}